Source: proximus
Section: net
Priority: extra
Maintainer: Alexander Ganster <alexander.ganster@gmail.com>
Uploaders: Alexander Ganster <alexander.ganster@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3
Homepage: http://proximus.5-o-clock.net
Vcs-Git: git://github.com/fiveoclock/proximus.git
Dm-Upload-Allowed: yes

Package: proximus
Architecture: all
Depends: squid|squid3, python, python-mysqldb, python-argparse
Recommends: python-psyco, apache2, libapache2-mod-php5, php5-mysql, smarty
Description: Flexible management interface for squid proxy
 Proximus is a flexible management interface for squid proxy
 .
 Key features are:
 .
  * Management of rules per location/group/user
  * Administrators can be defined per location
  * Dynamic whitelisting of sites
  * LDAP authentication for admins
